doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Gentelella Alela!
        // Bootstrap
        link(href='../../../vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href='../../../vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href='../../../vendors/nprogress/nprogress.css', rel='stylesheet')
        // Dropzone.js
        link(href='../../../vendors/dropzone/dist/min/dropzone.min.css', rel='stylesheet')
        // Custom Theme Style
        link(href='../../../build/css/custom.min.css', rel='stylesheet')
    body.nav-md
        .container.body
            .main_container
                include components/admin_side_nav_bar
                    // page content
                .right_col(role='main')
                    div
                        .page-title
                            .title_left
                                h3 Form Upload
                            .title_right
                                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                                    .input-group
                                        input.form-control(type='text', placeholder='Search for...')
                                        span.input-group-btn
                                            button.btn.btn-default(type='button') Go!
                        .clearfix
                        .row
                            .col-md-12.col-sm-12.col-xs-12
                                .x_panel
                                    .x_title
                                        h2 Dropzone multiple file uploader
                                        ul.nav.navbar-right.panel_toolbox
                                            li
                                                a.collapse-link
                                                    i.fa.fa-chevron-up
                                            li.dropdown
                                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                                    i.fa.fa-wrench
                                                ul.dropdown-menu(role='menu')
                                                    li
                                                        a(href='#') Settings 1
                                                    li
                                                        a(href='#') Settings 2
                                            li
                                                a.close-link
                                                    i.fa.fa-close
                                        .clearfix
                            .col-md-12.col-xs-12
                                .x_panel
                                    .x_title
                                        h2
                                            | Form Basic Elements
                                            small different form elements
                                        ul.nav.navbar-right.panel_toolbox
                                            li
                                                a.collapse-link
                                                    i.fa.fa-chevron-up
                                            li.dropdown
                                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                                    i.fa.fa-wrench
                                                ul.dropdown-menu(role='menu')
                                                    li
                                                        a(href='#') Settings 1
                                                    li
                                                        a(href='#') Settings 2
                                            li
                                                a.close-link
                                                    i.fa.fa-close
                                        .clearfix
                                    .x_content
                                        br
                                        form.form-group.dropzone(action='./upload', method="post", enctype="multipart/form-data")
                                            .form-horizontal.form-label-left
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Default Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='Default Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Disabled Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', disabled='disabled', placeholder='Disabled Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Read-Only Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', readonly='readonly', placeholder='Read-Only Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Date Of Birth
                                                        span.required *
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        textarea.form-control(rows='3', placeholder='Date Of Birth')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Password
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='password', value='passwordonetwo')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 AutoComplete
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input#autocomplete-custom-append.form-control.col-md-10(type='text', name='country')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Select
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.form-control
                                                            option Choose option
                                                            option Option one
                                                            option Option two
                                                            option Option three
                                                            option Option four
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Select Custom
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.select2_single.form-control(tabindex='-1')
                                                            option
                                                            option(value='AK') Alaska
                                                            option(value='HI') Hawaii
                                                            option(value='CA') California
                                                            option(value='NV') Nevada
                                                            option(value='OR') Oregon
                                                            option(value='WA') Washington
                                                            option(value='AZ') Arizona
                                                            option(value='CO') Colorado
                                                            option(value='ID') Idaho
                                                            option(value='MT') Montana
                                                            option(value='NE') Nebraska
                                                            option(value='NM') New Mexico
                                                            option(value='ND') North Dakota
                                                            option(value='UT') Utah
                                                            option(value='WY') Wyoming
                                                            option(value='AR') Arkansas
                                                            option(value='IL') Illinois
                                                            option(value='IA') Iowa
                                                            option(value='KS') Kansas
                                                            option(value='KY') Kentucky
                                                            option(value='LA') Louisiana
                                                            option(value='MN') Minnesota
                                                            option(value='MS') Mississippi
                                                            option(value='MO') Missouri
                                                            option(value='OK') Oklahoma
                                                            option(value='SD') South Dakota
                                                            option(value='TX') Texas
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Select Grouped
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.select2_group.form-control
                                                            optgroup(label='Alaskan/Hawaiian Time Zone')
                                                                option(value='AK') Alaska
                                                                option(value='HI') Hawaii
                                                            optgroup(label='Pacific Time Zone')
                                                                option(value='CA') California
                                                                option(value='NV') Nevada
                                                                option(value='OR') Oregon
                                                                option(value='WA') Washington
                                                            optgroup(label='Mountain Time Zone')
                                                                option(value='AZ') Arizona
                                                                option(value='CO') Colorado
                                                                option(value='ID') Idaho
                                                                option(value='MT') Montana
                                                                option(value='NE') Nebraska
                                                                option(value='NM') New Mexico
                                                                option(value='ND') North Dakota
                                                                option(value='UT') Utah
                                                                option(value='WY') Wyoming
                                                            optgroup(label='Central Time Zone')
                                                                option(value='AL') Alabama
                                                                option(value='AR') Arkansas
                                                                option(value='IL') Illinois
                                                                option(value='IA') Iowa
                                                                option(value='KS') Kansas
                                                                option(value='KY') Kentucky
                                                                option(value='LA') Louisiana
                                                                option(value='MN') Minnesota
                                                                option(value='MS') Mississippi
                                                                option(value='MO') Missouri
                                                                option(value='OK') Oklahoma
                                                                option(value='SD') South Dakota
                                                                option(value='TX') Texas
                                                                option(value='TN') Tennessee
                                                                option(value='WI') Wisconsin
                                                            optgroup(label='Eastern Time Zone')
                                                                option(value='CT') Connecticut
                                                                option(value='DE') Delaware
                                                                option(value='FL') Florida
                                                                option(value='GA') Georgia
                                                                option(value='IN') Indiana
                                                                option(value='ME') Maine
                                                                option(value='MD') Maryland
                                                                option(value='MA') Massachusetts
                                                                option(value='MI') Michigan
                                                                option(value='NH') New Hampshire
                                                                option(value='NJ') New Jersey
                                                                option(value='NY') New York
                                                                option(value='NC') North Carolina
                                                                option(value='OH') Ohio
                                                                option(value='PA') Pennsylvania
                                                                option(value='RI') Rhode Island
                                                                option(value='SC') South Carolina
                                                                option(value='VT') Vermont
                                                                option(value='VA') Virginia
                                                                option(value='WV') West Virginia
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Select Multiple
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.select2_multiple.form-control(multiple='multiple')
                                                            option Choose option
                                                            option Option one
                                                            option Option two
                                                            option Option three
                                                            option Option four
                                                            option Option five
                                                            option Option six
                                                .control-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Input Tags
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input#tags_1.tags.form-control(type='text', value='social, adverts, sales')
                                                        #suggestions-container(style='position: relative; float: left; width: 250px; margin: 10px;')
                                                .form-group
                                                    label.col-md-3.col-sm-3.col-xs-12.control-label
                                                        | Checkboxes and radios
                                                        br
                                                        small.text-navy Normal Bootstrap elements
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        .checkbox
                                                            label
                                                                input(type='checkbox', value='')
                                                                |  Option one. select more than one options
                                                        .checkbox
                                                            label
                                                                input(type='checkbox', value='')
                                                                |  Option two. select more than one options
                                                        .radio
                                                            label
                                                                input#optionsRadios1(type='radio', checked='', value='option1', name='optionsRadios')
                                                                |  Option one. only select one option
                                                        .radio
                                                            label
                                                                input#optionsRadios2(type='radio', value='option2', name='optionsRadios')
                                                                |  Option two. only select one option
                                                .form-group
                                                    label.col-md-3.col-sm-3.col-xs-12.control-label
                                                        | Checkboxes and radios
                                                        br
                                                        small.text-navy Normal Bootstrap elements
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        .checkbox
                                                            label
                                                                input.flat(type='checkbox', checked='checked')
                                                                |  Checked
                                                        .checkbox
                                                            label
                                                                input.flat(type='checkbox')
                                                                |  Unchecked
                                                        .checkbox
                                                            label
                                                                input.flat(type='checkbox', disabled='disabled')
                                                                |  Disabled
                                                        .checkbox
                                                            label
                                                                input.flat(type='checkbox', disabled='disabled', checked='checked')
                                                                |  Disabled & checked
                                                        .radio
                                                            label
                                                                input.flat(type='radio', checked='', name='iCheck')
                                                                |  Checked
                                                        .radio
                                                            label
                                                                input.flat(type='radio', name='iCheck')
                                                                |  Unchecked
                                                        .radio
                                                            label
                                                                input.flat(type='radio', name='iCheck', disabled='disabled')
                                                                |  Disabled
                                                        .radio
                                                            label
                                                                input.flat(type='radio', name='iCheck3', disabled='disabled', checked='')
                                                                |  Disabled & Checked
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Switch
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        div
                                                            label
                                                                input.js-switch(type='checkbox', checked='')
                                                                |  Checked
                                                        div
                                                            label
                                                                input.js-switch(type='checkbox')
                                                                |  Unchecked
                                                        div
                                                            label
                                                                input.js-switch(type='checkbox', disabled='disabled')
                                                                |  Disabled
                                                        div
                                                            label
                                                                input.js-switch(type='checkbox', disabled='disabled', checked='checked')
                                                                |  Disabled Checked
                                                .ln_solid
                                                .form-group
                                                    .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                                                        button.btn.btn-primary(type='button') Cancel
                                                        button.btn.btn-primary(type='reset') Reset
                                                        button.btn.btn-success(type='submit') Submit

                                    .x_content
                                        form.form-group(action='./upload', method="post", enctype="multipart/form-data")
                                            .form-horizontal.form-label-left.input_mask
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 사진
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='file', placeholder='사진 1', name="pic")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 사진
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='file', placeholder='사진 2', name="pic")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 사진
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='file', placeholder='사진 3', name="pic")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 사진
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='file', placeholder='사진 4', name="pic")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 사진
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='file', placeholder='사진 5', name="pic")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 사진
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='file', placeholder='사진 6', name="pic")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작가의 성씨
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input#firstname.form-control(type='text', placeholder='first name', name="firstname")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작가의 이름
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input#lastname.form-control(type='text', placeholder='last name', name="lastname")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 명
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='작품 명', name="picture_name")
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 종류
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.select.select2_single.form-control(name="category")
                                                            option(value="Pa") 회화
                                                            //Painting
                                                            option(value="Ph") 사진
                                                            //Photo
                                                            option(value="Dr") 드로잉
                                                            //Drawing
                                                            option(value="Sc") 조각
                                                            //Sculpture
                                                            option(value="Pr") 프린트
                                                            //Printing
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 주제
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.select.select2_single.form-control(tabindex='-1', name='subject')
                                                            option(value="Ab") 추상
                                                            //Abstract
                                                            option(value="La") 풍경
                                                            //Landscape
                                                            option(value="Pe") 인물
                                                            //People
                                                            option(value="Po") 초상
                                                            //Portrait
                                                            option(value="Vi") 상상
                                                            //Virtualization
                                                            option(value="An") 동물
                                                            //Animal
                                                            option(value="St") 정물
                                                            //Still life
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 작품 스타일
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        select.select.select2_single.form-control(tabindex='-1', name='subject')
                                                            option(value="Ab") 추상
                                                            //Abstract
                                                            option(value="La") 풍경
                                                            //Landscape
                                                            option(value="Pe") 인물
                                                            //People
                                                            option(value="Po") 초상
                                                            //Portrait
                                                            option(value="Vi") 상상
                                                            //Virtualization
                                                            option(value="An") 동물
                                                            //Animal
                                                            option(value="St") 정물
                                                            //Still life
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Default Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='Default Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Default Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='Default Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Default Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='Default Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Default Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='Default Input')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12 Default Input
                                                    .col-md-9.col-sm-9.col-xs-12
                                                        input.form-control(type='text', placeholder='Default Input')
                                                .ln_solid
                                                .form-group
                                                    .col-md-9.col-sm-9.col-xs-12.col-md-offset-9
                                                        button.btn.btn-primary(type='reset') Reset
                                                        button#submit-all.btn.btn-success(type='submit') Submit
                                                .ln_solid
                                        br
                                        br
                                        br
                                        br

                // /page content
                // footer content
                footer
                    .pull-right
                        | Gentelella - Bootstrap Admin Template by
                        a(href='https://colorlib.com') Colorlib
                    .clearfix
                // /footer content
                // jQuery
                script(src='../../../vendors/jquery/dist/jquery.min.js')
                // Bootstrap
                script(src='../../../vendors/bootstrap/dist/js/bootstrap.min.js')
                // FastClick
                script(src='../../../vendors/fastclick/lib/fastclick.js')
                // NProgress
                script(src='../../../vendors/nprogress/nprogress.js')
                // Dropzone.js
                script(src='../../../vendors/dropzone/dist/min/dropzone.min.js')
                // Custom Theme Scripts
                script(src='../../../build/js/custom.min.js')