link(rel='stylesheet', href='/css/footer.css')
link(rel='stylesheet', href='/css/footer_style.css')
footer.page-footer.footerhead
    .footer_container
        // Footer Text
        .container-fluid.text-center.text-md-left
            // Grid row
            .row
                // Grid column
                .col-md-10.mt-md-0.mt-3
                    // Content
                    h5.text-uppercase About Us
                    .aboutUs
                        a 대표자명 : 길세현 | 대표번호 : 010.2760.2021
                        br
                        a 대표메일 : Viewniz.official@gmail.com
                        br
                        a 주소 : 충청북도 청주시 서원구 내수동로114번길 63(사창동) 대경빌 101호
                        br
                // Grid column
                hr.clearfix.w-100.d-md-none.pb-3
                // Grid column
                .col-md-2.mb-md-0.mb-3
                    // Content
                    h5.text-uppercase Contact Us
                    .aboutUs
                        a(href='http://pf.kakao.com/_qxeKXT/chat', target='_blank')
                            img(src='/images/kakao.png', style='width: 40px;height:40px;margin-right:10px;')
                        a(href='https://www.instagram.com/livingdraw.co.kr/', target='_blank')
                            img(src='/images/insta.png', style='width: 40px;height:40px;')
                // Grid column
                // Grid row
                // Footer Text
                // Copyright
                .copyRightBox.col-md-12
                    .copyRight © 2019 Copyright: ViewNiz
                // Copyright

