link(rel='stylesheet', href='/css/footer.css')
link(rel='stylesheet', href='/css/footer_style.css')
footer.page-footer.font-small.teal.pt-4.footerhead
    .container
        // Footer Text
        .container-fluid.text-center.text-md-left
            // Grid row
            .row
                // Grid column
                .col-md-6.mt-md-0.mt-3
                    // Content
                    h5.text-uppercase.font-weight-bold About Us
                    a.contact(style='font-size: 90%;') 충청북도 청주시 서원구 내수동로114번길 63(사창동) 대경빌 101호
                // Grid column
                hr.clearfix.w-100.d-md-none.pb-3
                // Grid column
                .col-md-6.mb-md-0.mb-3.contact
                    // Content
                    h5.text-uppercase.font-weight-bold.contact Contact Us
                    a 대표자명 : 길세현
                    br
                    a 대표번호 : 010 - 2760 - 2021
                    br
                    a 대표메일 :
                    a(href='http://Viewniz.official@gmail.com') Viewniz.official@gmail.com
                // Grid column
                // Grid row
                // Footer Text
                // Copyright
                // <div class="footer-copyright text-center py-3 copyright">
                // <a>충청북도 청주시 서원구 내수동로114번길 63(사창동) 대경빌 101호</a>
                // </div>
        .footer-copyright.text-center.py-3.copyright
            | © 2018 Copyright:
            a(href='')  ViewNiz
        // Copyright
