header.mainheader
    div.logo
        a(href='/')
            img(src='/logo/logoImage.png', style='')
    input#nav-toggle.nav-toggle(type='checkbox')
    nav
        ul
            li
                h1.logo.only_mobile(style=' text-align: center;')
                    a(href='/')
                        img(src='/logo/logoImage.png', style='height:50px;')
            li.only_mobile
                .input-group.mb-3
                    input.form-control(type='text', placeholder='', aria-label='', aria-describedby='basic-addon2')
                    .input-group-append
                        span#basic-addon1.input-group-text(style="padding: 0px 8px 0px 8px;")
                            i.flaticon-search.icons(style="margin:0;")
            li
                a.mainpage(href='/') 회사소개
            li
                a.borderpage(href='/border') 작품보기
            //li
            //    a(href='#') Blog
            //li
            //    a(href='#') About
            label.btn_close.only_mobile(for='nav-toggle')
                span
                | X
    .icon_box
        ul.search_icon
            i.flaticon-search-1.icons
            a(href='/border')
                i.flaticon-picture-2.icons
            //i#mobile_heartbutton.flaticon-like-1.icons
    label.nav-toggle-label(for='nav-toggle')
        span
    #nav_boundary_id