header.target-hover(style="" )
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/')
            img(src='/logo/logoImage.png', style='')
        button#mobile_toggle_icon.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/') MAIN
                li.nav-item
                    a.nav-link(href='/border/') Paints
                //li.nav-item
                    a.nav-link(href='#') Intro
            ul#searchbar_1.right-menu.ml-auto
                //
                  <li><i class="fa fa-facebook"></i></li>
                  <li><i class="fa fa-instagram"></i></li>
                // <li><i class="fa fa-pinterest"></i></li>
                li
                    .input-group.mb-3
                        input.form-control(type='text', placeholder='', aria-label='', aria-describedby='basic-addon2')
                        .input-group-append
                            span#basic-addon2.input-group-text
                                i.fa.fa-search
        ul#searchbar_2.right-menu.ml-auto(style='display: none;')
            li
                .input-group.mb-3
                    input.form-control(type='text', placeholder='', aria-label='', aria-describedby='basic-addon2')
                    .input-group-append
                        span#basic-addon2.input-group-text
                            i.fa.fa-search
            li
                i.fa.fa-times
            li
        ul.search_icon
            i#mobile_searchbutton.fa.fa-search
            i#mobile_heartbutton.fa.fa-heart
