body {
    background-color: #f3f3f3;
    line-height: unset;
}

body p {
    font-family: 'Noto Sans KR', serif;
    font-size: 1.1rem;
    font-weight: 500;
}


/*container*/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 576px){
    .container{
        padding: 0;
    }
}

/*Main_box*/
.row {
    margin: 0;
}

.center_main {
    /*border:1px red solid;*/
    display: flex;
    background-color: white;
    min-height: 500px;
    margin: 0;
    padding: 60px 120px 80px 120px;
    text-align: center;
    position: relative;
}

@media (max-width: 768px){
    .center_main{
        padding: 40px 40px 60px 40px;
    }
}

@media (max-width: 576px){
    .center_main{
        padding: 20px 20px 40px 20px;
    }
}

/*process_bar*/
.process_bar {
    display: block;
    height: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
}

.pre_stage {
    margin: 0;
    position: absolute;
    background-color: #00A000;
    width: 100%;
    left: 0%;
    /*transform: translateX(123.333px);*/
}


/*main*/

.author_register_form {
    width: 100%;
}

.title {
    width: 100%;
    margin-bottom: 2.5%;

}

.title p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.alarm{
    margin-top: 10%;
    margin-bottom: 10%;
}

.alarm p {
    font-size: 1.15rem;
    color: #00AEEF;
    font-weight: normal;
}


.logoImgbox{
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 100%;
    text-align: center;
}


.logoImg{
    width: 125px;
}


/*page_common*/

.next_button{
    border-radius: unset;
    background-color: #2f8cba !important;
    border-color: #2f8cba !important;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    position: relative;

}

.open_next{
    transition: opacity .3s cubic-bezier(.86,0,.07,1) .1s;
}

/*right_button*/

.next {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 20px;
    overflow: hidden;
}


#hidden_next{
    transform: translateX(100%);
    transition: transform .3s cubic-bezier(.86,0,.07,1),
    background-color .2s ease-in-out;
}




/*left_button*/

.pre_next{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 20px;
    overflow: hidden;
}

#hidden_pre_next{
    transform: translateX(-100%);
    position: relative;
    z-index: 0;
    transition: transform .3s cubic-bezier(.86,0,.07,1),
    background-color .2s ease-in-out;
}

#none_hidden_pre_next{
    z-index: 1;
}





