		.masonry-column {
			padding: 0 1px;
		}
		.masonry-grid .thumbnail {
			margin: 10px 7px;
		}

		.bg-light {
			background-color: #ffffff !important;
		}
		a{
			color: #343a40;
		}
		.text-primary {
			color: black !important;
		}
		p.lead {
			font-size: 30px;
		}

		#columns{
			column-width:350px;
			column-gap: 15px;
		}
		#columns figure{
			display: inline-block;
			margin:0;
			margin-bottom: 10px;
			padding:30px;
			padding-bottom: 10px;
		}
		#columns figure img{
			width:100%;
		}
		#columns figure figcaption{
			padding:10px;
			margin-top:11px;
		}

		@media (max-width: 1025px){
			#columns {
				text-align: center;
			}
			#columns .figure_detail{
				text-align: left;
			}
		}

		.figure_detail * a{
			padding: 5px;
		}


		.btn-primary:not(.btn-link) {
			color: #828080;
		}
		.btn-primary {
			background-color: #ffffff;
			border-color: #e3e3e3;
		}
		.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
			color: #828080;
			background-color: #ffffff;
			border-color: #e3e3e3;
		}
		.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
			box-shadow: 0 0 0 0.01rem #e3e3e3;
		}
		.btn-primary:hover {
			color:  #828080;
			background-color: #ffffff;
			border-color: #e3e3e3;
		}
		.btn:hover {
			box-shadow: 0 0 0 0.01rem #e3e3e3;
		}
		.btn-primary:focus, .btn-primary.focus {
			box-shadow: 0 0 0 0.01rem #e3e3e3;
		}

		#dropdown_sort2{
			height: 100%;
			margin-top: 10px;
			height: 40px;
		}

		@media (min-width: 510px){
			#dropdown_sort2{
				display: none;
			}
		}

		@media (max-width: 510px){
			#dropdown_sort{
				display: none;
			}
			#dropdown_sort2{
				display: block;
			}
			#dropdown_sort2 *{
				margin-right: 10px;
			}
		}



		.container_header{
			padding: 10px;
			padding-left: 30px;
			padding-right: 16px;
			min-height: 80px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		}


		.container_header p{
			font-family: 'Playfair Display', serif;
			font-size: 1.65em;
			font-weight: 400;
			color: #222;
			/*color: #e7e7e7;*/
			float: left;

		}

		@media (max-width: 510px){
			#dropdown_sort{
				display: none;
			}
			#dropdown_sort2{
				display: block;
			}
			#dropdown_sort2 *{
				margin-right: 10px;
			}
			.container_header{
				padding: 0;
				padding-top: 15px;
				padding-bottom: 15px;
			}

			.container_header p{
				float: none;
				text-align: center;
			}
		}

		.dropdown-menu {
			-webkit-transition: all 0s cubic-bezier(0.02, 0.01, 0.47, 1);
			-moz-transition: all 0s cubic-bezier(0.02, 0.01, 0.47, 1);
			transition: all 0s cubic-bezier(0.02, 0.01, 0.47, 1);
		}
		.dropdwon-menu:after{
			border-color: #e7e7e7;
		}

		.btn-outline-primary {
			color: #f2672e;
			background-color: transparent;
			background-image: none;
			border-color: #f2672e;
		}


		.figure_kind{
			color:rgb(153, 153, 153);
			    font-weight: 400;
		}


		a{
			    font-family: 'Noto Sans KR', sans-serif;
			    font-size: 15px;
			    font-weight: 500;

		}

		.figure_artist a{
			text-transform: capitalize;

		}
/*
		@media (min-width:1200px){
			.container{

			}
		}*/