.bg-light {
    background-color: #ffffff !important;
}

.masonry-column {
    padding: 0 1px;
}

.masonry-grid .thumbnail {
    margin: 10px 7px;
}

.bg-light {
    background-color: #ffffff !important;
}

a {
    color: #343a40;
}

.text-primary {
    color: black !important;
}

p.lead {
    font-size: 30px;
}

#columns {
    column-width: 350px;
    column-gap: 15px;
}

#columns figure {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
}

#columns figure img {
    width: 100%;
}

#columns figure figcaption {
    padding: 10px;
    margin-top: 11px;
}

@media (max-width: 1025px) {
    #columns {
        text-align: center;
    }

    #columns .figure_detail {
        text-align: left;
    }
}

.figure_detail * a {
    padding: 10px;
}

.container {
    text-align: center;
}

.container img {
    margin-right: 0;
    width: auto%;
    height: 100%;
}

/*@media (min-width: 992px) {
    .container img {
        width: 60%;
        height: 60%;
    }
}*/

/*headerfix*/
.jbFixed {
    width: 100%;
    top: 0;
    z-index: 10;
}

.dropdown-menu {
    z-index: 2;
}

@media (min-width: 1025px) {
    .jbFixed {
        position: unset;
    }
}

@media (max-width: 1024px) {
    .jbFixed {
        position: fixed;
    }
}

@media (max-width: 767px) {
    #columns figure {
        padding-right: 0;
        padding-left: 0;
    }
}


.banner {
    padding-top: 65px;
    background-image: url(/banner/bannerImage.jpeg);
    height: 500px;
    background-repeat: round;
    text-align: center;
}
.bannerTextBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}
.bannerComment{
    padding-top: 100px;
    font-size: 3.0rem;
    color: #ffffff;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
    font-family: 'Baskervville', serif;
}

.bannerSubComment{
    margin-top: 20px;
    color: #ffffff;
    font-size: 1.35rem;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    font-style: italic;
}
@media (max-width: 767px) {
    .banner {
        height: 350px;
    }
    .bannerComment{
        font-size: 1.5rem;
    }

    .bannerSubComment{
        font-size: 1rem;
    }
}
/*bannerEnd*/

.mainContainer{
    display: grid;
/*    grid-template-columns: 30% 15%;
    grid-column-gap: 55%;*/
    margin-bottom: 50px;
    margin-top: 50px;
}
.mainComment{
    font-size: 1.5rem;
}

.mainSort{
    border: 1px solid black;
}



.container {
  width: 60%;
  margin: 2rem auto; 
}



.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(15, 5vw);
  grid-gap: 1.5rem; 

}

.gallery__item{
    position: relative;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  position: relative;
}
.gallery__blind {
    z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0,0,0,0.4); 
  top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  
}

.gallery__item--2 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--6 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--7 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 16;
}

.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 16;
}

.gallery__text {
    z-index: 500;
    padding: 5px 10px;
    text-align: center;
    text-decoration-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color:#fff;
}
.gallery__text p{

    padding: 1px 0px;
    margin: 3px;
    font-size:1.5rem;
    color:#fff;
    font-style:bold;
}
.gallery__item__button{
    width:100px;
    background-color: rgba(248, 88, 91, 0);
    border: 1.5px;
    border-style: solid;
    color:#ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 4px;
    cursor: pointer;
    width:200px;
}
  
@media (max-width: 1024px) {
    .container {
        width: 80%;
        margin: 1rem auto; 
    }
    .gallery {
        grid-template-rows: repeat(15, 7vw);
        grid-gap: 1rem; 
    }
}
@media (max-width: 767px) {
    .container {
        width: 90%;
        margin: 1rem auto; 
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 30vw);
        grid-gap: 0.5rem; 
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 11;
    }

    .gallery__item--6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 13;
    }

    .gallery__item--7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 13;
        grid-row-end: 15;
    }

    .gallery__item--8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 15;
        grid-row-end: 17;
    }
}