.bg-light {
    background-color: #ffffff !important;
}

.masonry-column {
    padding: 0 1px;
}

.masonry-grid .thumbnail {
    margin: 10px 7px;
}

.bg-light {
    background-color: #ffffff !important;
}

a {
    color: #343a40;
}

.text-primary {
    color: black !important;
}

p.lead {
    font-size: 30px;
}

#columns {
    column-width: 350px;
    column-gap: 15px;
}

#columns figure {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
}

#columns figure img {
    width: 100%;
}

#columns figure figcaption {
    padding: 10px;
    margin-top: 11px;
}

@media (max-width: 1025px) {
    #columns {
        text-align: center;
    }

    #columns .figure_detail {
        text-align: left;
    }
}

.figure_detail * a {
    padding: 10px;
}

.container {
    text-align: center;
}

.container img {
    margin-right: 0;
    width: 100%;
}

@media (min-width: 992px) {
    .container img {
        width: 60%;
        height: 60%;
    }
}

/*headerfix*/
.jbFixed {
    width: 100%;
    top: 0;
    z-index: 10;
}

.dropdown-menu {
    z-index: 2;
}

@media (min-width: 1025px) {
    .jbFixed {
        position: unset;
    }
}

@media (max-width: 1024px) {
    .jbFixed {
        position: fixed;
    }
}

@media (max-width: 767px) {
    #columns figure {
        padding-right: 0;
        padding-left: 0;
    }
}


.banner {
    padding-top: 65px;
    background-image: url(../images/banner2.jpeg);
    height: 360px;
    background-repeat: round;
    text-align: center;
}

.bannerComment{
    padding-top: 50px;
    font-size: 3.0rem;
    color: #ffffff;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
    font-family: 'Baskervville', serif;
}

.bannerSubComment{
    margin-top: 20px;
    color: #ffffff;
    font-size: 1.35rem;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    font-style: italic;
}
/*bannerEnd*/

.mainContainer{
    display: grid;
    grid-template-columns: 30% 15%;
    grid-column-gap: 55%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.mainComment{
    font-size: 1.5rem;
}

.mainSort{
    border: 1px solid black;
}

.mainWorks{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "main . ."
      "main . aside"
      "footer footer footer";
  }
  header { grid-area: header;}
  main   { grid-area: main;   }
  aside  { grid-area: aside;  }
  footer { grid-area: footer; }
