.bg-light {
    background-color: #ffffff !important;
}

.masonry-column {
    padding: 0 1px;
}

.masonry-grid .thumbnail {
    margin: 10px 7px;
}

.bg-light {
    background-color: #ffffff !important;
}

a {
    color: #343a40;
}

.text-primary {
    color: black !important;
}

p.lead {
    font-size: 30px;
}

#columns {
    column-width: 350px;
    column-gap: 15px;
}

#columns figure {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
}

#columns figure img {
    width: 100%;
}

#columns figure figcaption {
    padding: 10px;
    margin-top: 11px;
}

@media (max-width: 1025px) {
    #columns {
        text-align: center;
    }

    #columns .figure_detail {
        text-align: left;
    }
}

.figure_detail * a {
    padding: 10px;
}

.container{
    text-align: center;
}
.container img{
    margin-right: 0;
    width: 100%;
}

@media (min-width: 992px){
    .container img{
        width: 60%;
        height: 60%;
    }
}
