

.form-group{
    border-radius: unset;
}

.form-control{
    border-radius: unset;
}


.btn-danger{
    background-color: #f8b62b !important;
    border-color: #f8b62b !important;
}

.btn{
    border-radius: unset;
}

.loginbutton{
    padding: 0px 5px 0px 5px;
    font-family: 'Nanum Gothic', sans-serif;
}

.registerbutton{
    width: 100%;
    font-weight: 500;
    color: #9aa2ab;
    border-color: #9aa2ab !important;
    font-family: 'Nanum Gothic', sans-serif;
}

.registerbutton:hover{

    color: ghostwhite;
    background-color: #9aa2ab;
}

.registerbutton:active{
    color: ghostwhite !important;
    background-color: #9aa2ab !important;
}

.card{
    max-width: 443px;
    margin: auto;
    text-align: center;
}

.card-body{
    padding: 5rem;
}

.card{
    border-radius: unset;
}


@media (max-width: 576px) {
    .card{
        border:none;
    }
    .card-body {
        padding: 1.5rem;
    }
}

/*login_form*/
.social-login-title p{
    font-family: 'Nanum Gothic', sans-serif;
    color: #9aa2ab;
    font-weight: 600;
    font-size: 0.95rem;
}

.icons{
    display: inline-block;
    text-align: center;
    padding-left: 0;
}

.icon{
    width: 53px !important;
}

.kakao , .naver{
    border-radius: 100%;
}



ul.icons li {
    display: inline-block;
    text-align: center;
    padding-left: 0;
    margin-right: 0.85rem;
}

.naver_li{
    margin-right: unset !important;
}

.icon .label {
    display: none;
}