
p{
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 0;
  color: #222;
}

*:focus {
  border-color: #ef8d16;
}




.target-hover .nav-link{
  padding-top: 10px;
  padding-bottom: 0px;
}

.navbar .nav-item > a {
  font-size: 1.0em;
  font-weight: 400;
  letter-spacing: .11em;
  text-transform: uppercase;
}

input[type=search]:focus {border-color: #efb04e;}

#mobile_button_left{

  background-color: #fff;
  border: #eee 1px solid;
  color: #222;
  font-size: 0.65em;
}

#mobile_button_right{

  background-color: #ef8d16;
  border: #eee7 1px solid;
  font-size: 0.65em;
}

#mobile_button_right:hover{

  border: #eee 1px solid;
}


.navbar-brand{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 5px;
  padding: 0;
  margin:0;
}

.navbar-brand img{
  background-color: rgba(255, 255, 255, 0);
  margin:0;

}

@media(min-width: 992px){
  .navbar-brand img{
    max-height: 55px;
    margin-top: 10%;
  }
  #mobile_toggle_icon{
    opacity: 0;
    position: absolute;
  }
}

@media(max-width: 991px){
  .navbar-brand img{
    max-height: 55px;
    margin-top: 10%;
  }
}

.navbar{
 border-bottom:1px solid #eee;
 min-height: 80px;
}

.navbar:active{
  border-bottom: 1px solid #eee;
}

@media(max-width: 991px){
  .navbar-collapse {
    margin-top: 20px;
  }
}

.right-menu li{
  display: inline-block;
  margin-top: 3%;
}

.right-menu li .fa{
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.form-control{
  border-radius: 0;
}

* {
  transition: none;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-radius: 0;
  background-color: #eee;
  cursor: pointer;
}
.ml-auto, .mx-auto{
  margin-bottom: 0;
}




@media(min-width: 992px){
  #searchbar_2{
    display: none;
  }
  #searchbar_1{
    display: block;
  }
  .search_icon .fa{
    display: none;
    position: absolute;
  }
  .search_icon{
    position: absolute;
  }
}

@media(max-width: 991px){
  .ml-auto, .mx-auto {
    margin-left: auto !important;
    top: -8px;
    right: 0;
  }
  #searchbar_2{
    display: block;
    opacity: 0;
    /*width: 80%;*/
  }

  #searchbar_1{
    display: none;
  }

}
  .search_icon{
   margin-left: auto !important;
   top: 0px;
   position: absolute;
   right: 0;
   margin-right: 16px;
   margin-top: 20px;
   padding-top: 5px;
 }
 .search_icon .fa{
  /*  display: inline-block;*/
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
#navbarSupportedContent{
  margin:0;
  padding-top: 10px;
}

/*#navbarSupportedContent ul li{
  padding-top: 10px;
}*/

.fa-times{
  box-sizing: border-box;
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 50%;
  font-size: 18px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 20%;
  margin-bottom: 24%;
}
@media (max-width: 455px){
  .input-group{
   width:  230px;
 }
}

@media (max-width: 365px){
  .input-group{
    width:  180px;
  }
  #basic-addon2{
    width: 60px;
    padding: 5px 10px 5px 10px;
  }
}

/*#mobile_toggle_icon:active{
  margin-top: -1px;
}*/

#mobile_toggle_icon{

  margin-top: 6px;
}


@media (max-width: 416px){
  #searchbar_2{
    padding-left: 0;
  }
}

#searchbar_2{

  padding: 0px 0px 0px 0px !important;
}





