
p{
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 0;
  color: #222;
}

*:focus {
  border-color: #ef8d16;
}

.navbar{
 border-bottom:1px solid #e7e7e7;
}


.target-hover .nav-link{
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar .nav-item > a {
  font-size: 1.0em;
  font-weight: 400;
  letter-spacing: .11em;
  text-transform: uppercase;
}

input[type=search]:focus {border-color: #efb04e;}

#mobile_button_left{

  background-color: #fff;
  border: #e7e7e7 1px solid; 
  color: #222;
  font-size: 0.65em;
}

#mobile_button_right{

  background-color: #ef8d16;
  border: #e7e7e7 1px solid; 
  font-size: 0.65em;
}

#mobile_button_right: hover{

  border: #e7e7e7 1px solid; 
}


.navbar-brand{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 5px;
  padding: 0;
  margin:0;
}

.navbar-brand img{
  background-color: rgba(255, 255, 255, 0);
  margin:0;

}

@media(min-width: 992px){
  .navbar-brand img{
    height: 80px;
    margin-top: 10px;
  }
}

@media(max-width: 991px){
  .navbar-brand img{
    height:70px;
  }
}

.navbar{
  min-height: 80px;
}

.navbar:active{
  border-bottom: 2px solid #e7e7e7;
}

@media(max-width: 991px){
  .navbar-collapse {
    margin-top: 20px;
  }
}

.right-menu li{
  display: inline-block;
  margin-top: 30px;
}

.right-menu li .fa{
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.form-control{
  border-radius: 0;
}

* {
  transition: none;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-radius: 0;
  background-color: #e7e7e7;
  cursor: pointer;
}
.ml-auto, .mx-auto{
  margin-bottom: 0;
}




@media(min-width: 992px){
  #searchbar_2{
    display: none;
  }
  #searchbar_1{
    display: block;
  }
  .search_icon .fa{
    display: none;
    position: absolute;
  }
  .search_icon{
    position: absolute;
  }
}

@media(max-width: 991px){
  .ml-auto, .mx-auto {
    margin-left: auto !important;
    top: -10.5px;
    position: absolute;
    right: 0;
    padding-right: 16px;
  }
  #searchbar_2{
    display: block;
    opacity: 0;
    /*width: 80%;*/
  }
  
  .input-group{
    width: 250px;
  }

  #searchbar_1{
    display: none;
  }
  .search_icon{
   margin-left: auto !important;
   top: 0px;
   position: absolute;
   right: 0;
   margin-right: 16px;
   margin-top: 20px;
   padding-top: 5px;
 }
 .search_icon .fa{
  /*  display: inline-block;*/
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
#navbarSupportedContent{
  margin-top: 35px;
}

#navbarSupportedContent ul li{
  padding-top: 10px;
}





