@import url('https://fonts.googleapis.com/css?family=Catamaran|Noto+Sans+KR&display=swap');

/*:root {*/
/*    --header-background: rgba(100, 125, 170, 0.85);*/
/*}*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

a{
    color: black;
}


/* Nav Styles */

.mainheader {
    background: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    box-shadow: 0 1px 8px rgba(0,0,0,0.1), 0 1px 8px rgba(0,0,0,0.03);
    transition: top 0.0ms ease-in-out;
    height: 73px;
}

@media screen and (max-width: 960px){
    .mainheader{
        height: 48px;
    }
}

.nav-up { top: -73px;
    box-shadow: unset;
}

/**/

.logo {
    color: rgba(255, 255, 255, .8);
    margin-top: 10px;
    cursor: pointer;
}

.logo img{
    height:50px;
}

@media screen and (max-width: 960px){
    .logo{
        margin-top: 0;
    }

    .logo img{
        height: 48px;
    }
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    transform: scale(1, 0);
    transform-origin: top;
    /*transition: transform 400ms ease-in-out;*/
}

/* notorigin */
nav{
    max-width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    padding: 30px 20px 30px 20px;
    opacity: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav li a{
    /*font-weight: 700;*/
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    color: #222222;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: unset;
    font-size: 1.1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #222222;
    text-underline: none;
    text-decoration: unset;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1em;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;

}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #383635;
    width: 1.85em;
    height: 2px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;

}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
}

@media screen and (min-width: 960px) {
    #nav_boundary_id{
        display: none;
    }
    .nav-toggle-label {
        display: none;
    }

    .mainheader {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: "";
        display: block;
        height: 5px;
        background: #f8b62b;
        position: absolute;
        top: -.7em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
    / / transform-origin: left;
        transition: transform 250ms ease-in-out;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/*nav_icon*/

.icon_box {
    grid-column: 4 / 4;
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon_box * {
    padding: 0;
    margin: 0;
}

.icons{
    font-size: 1.2rem;
    margin-right: 1.2rem;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 960px) {
    .icon_box {
        position: absolute;
        right: 0;
        top: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .flaticon-search-1{
        display: none;
    }
}

/*nav_boundary*/

.nav_boundary{
    display: flex;
    position: absolute;
    background-color: rgba(34,34,34,0.75);
    min-width: 100%;
    min-height: 99999px;
    bottom:0;
    z-index: 9998;
    top: 0;
    touch-action: none;
    overflow: hidden;
}

@media screen and (min-width:960px){
    .nav_boundary{
        display: none;
    }
}

.btn_close{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 25px 20px;
    font-size: 2.0rem;
    margin: 0;
    transition: opacity 250ms ease-in-out 250ms;
    opacity: 1;
    cursor: pointer;

}

.non_display{
    display: none;
}

/*searchbar*/

.form-control{
    border-radius: 0;

}

.search_img{
    width: 17.5px;
    height: 17.5px;
    cursor: pointer;
}


.input-group-text{
    border-radius: 0;
    background-color: unset;
}

/*mobile_side_nav*/
@media screen and (min-width: 960px) {
    .only_mobile{
        display: none;
    }

}

/*scroll_hidden*/
.layer-open{

    overflow:hidden;

}

/*change_page*/
.pre_nav_color{
    color: black !important;
    font-weight: bold;
}

#pc_searchbar{
    border-top: none;
    border-right: none;
    border-left: none;
}
