doctype html
head
  meta(charset='UTF-8')
  title Livig Draw
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='favicon.ico')
  link(rel='stylesheet' href='https://demo.bootstraptor.com/starter-kit-pro/assets/css/theme/style.css')
  link(rel='stylesheet' href='https://demo.bootstraptor.com/starter-kit-pro/assets/css/font-awesome.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(src='/js/hooni.js')
  link(rel='stylesheet', href='/css/product_style.css')
  link(rel='stylesheet', href='https://icono-49d6.kxcdn.com/icono.min.css')
  link(rel='stylesheet', href='/css/nav_style.css')

  // Plugins
style(type='text/css').
  .masonry-column {
    padding: 0 1px;
  }
  .masonry-grid .thumbnail {
    margin: 10px 7px;
  }
  .navbar{
    border-bottom:2px solid #e7e7e7;
  }
  .bg-light {
    background-color: #ffffff !important;
  }
  a{
    color: #343a40;
  }
include ../components/main_header
.banner
  a
    img(src='/banner/bannerImage.jpeg' style='width: 100%;')
.container
  img(src='/box/boxImage.jpeg' style='width: 100%;')
