doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 리빙드로우
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', href='/css_root/flaticon.css')
        // Plugins
        link(rel='stylesheet', href='../css/newindex.css')
        link(rel='stylesheet', href='../css/newheader.css')
        link(rel='stylesheet', href='../css/font/flaticon.css')
        link(href='https://fonts.googleapis.com/css?family=Catamaran&display=swap', rel='stylesheet')
        script(src='../js/nav_js.js')
        script(src='/js/hooni.js')
        script(src='https://use.fontawesome.com/releases/v5.2.0/js/all.js')
    body
        include ../components/main_header
        .container(style='padding-top: 100px;')
            if(exhibitions)
                -for(let i=0;i<exhibitions.length;i++)
                    if(i%3===0)
                        .row
                            -for(let j=i;j<exhibitions.length&&j<i+3;j++)
                                .frame.col-md-4.col-xs-12
                                    a(href="/exhibition/"+exhibitions[j]._id)
                                        .Galleryframe
                                            .Galleryframe_image
                                                .tumble
                                                    .centered
                                                        if(exhibitions[j].image[0])
                                                            img(src="/picPoster/" + exhibitions[j].image[0].picFilename)
                                            .detail
                                                .terminateday.sub
                                                    =exhibitions[j].startDate + " ~ " + exhibitions[j].endDate
                                                .Gallerytitle.sub
                                                    =exhibitions[j].title
                                                .Galleryplace.sub
                                                    | 본정갤러리

    include ../components/footer